# SPDX-FileCopyrightText: 2026 First-Non-Interesting-Username
#
# SPDX-License-Identifier: GPL-3.0-or-later

_tmp-*/
**/ssh/*
.pre-commit-config.yaml
result/
nixos-*.iso
result
.direnv/
.devenv
*.patch
*.orig
